코딩테스트 -> 이력서 -> 면접질문 순으로 진행예정

# 코딩테스트
* 알고리즘 + SQL + 화상감독 없는곳 이 우리의 타겟!

* 프로그래머스 코딩테스트 문제풀이전략 : 파이썬 편 책 참고!! - 프로그래머스 문제은행인 기업
* 자체 플랫폼 기업 - 준비하기 까다롭 (플랫폼들어가서 확인)

* 보통 3년차부터 내부추천권 있음 -> 친구한테 요청하기
* 급한 사람들은 제주 테크노파크에서 구하기 -> 기업지원정보 청년인재 이런거? (여기는 1개월내 채용해야함)

* visual studio 의 코파일럿모드 쓰면 대부분 짜주고 코테 답도 나옴 (이건 유료)

## Python 100제
* 문제링크 : https://pythonworkbook.notion.site/pythonworkbook/Python-100-6ee1860ce29a41bc8eb6b9cfa7d7f06c
* 1 ~ 100번
* 시간 정해두고 모르면 -> 암기 -> 반복!

### 1번.

In [ ]:
nums = [100,200,300,400,500]

In [ ]:
#정답1
nums.pop()
nums.pop()

In [ ]:
#정답2
nums[:3]

[100, 200, 300]

In [ ]:
#정답3
nums[:-2]

[100, 200, 300]

### 2번.

In [ ]:
l = [200, 100, 300]
print(l)

[200, 100, 10000, 300]

In [ ]:
l.insert(2, 10000)
print(l)

[200, 100, 10000, 10000, 300]

### 3번.

### 4번.

### 5번.

### 6번.

In [ ]:
# True인 것? -> 2번
# 1)  None
# 2)  1
# 3)  ""
# 4)  0
# 5)  bool(0)

In [ ]:
bool([])      #F
bool([1,2,3]) #T

False

In [ ]:
l = []
print(id(l))
print(bool(l))

# l의 값이 변한적이 없음 => 근데 왜 bool값은 변했나? => 파이썬은 인간의 입장에서 출력을 고려한것
# 자바는 bool([])이게 True임 -> 가리키는 값이 변하지 않았으니까

#근데 []/ ""(immutable object) 이거는 다른것

137521209011648
False

In [ ]:
l.append(10)
print(id(l))
print(bool(l))

137521209011648
True

### 7번.

In [ ]:
# as
# 1age
# 변수명으로 사용할 수 없음

### 8번.
* 좋은문제 아님

In [ ]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
#출력값은?

In [ ]:
# 뒤에걸로 덮어씀

### 9번.

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep = '/', end=' ')        #어떻게 붙일것인가 -> sep붙인다!  #이어붙일려면 end = ''
print(hour, minute, second, sep = ':')

2019/04/26 11:34:27

### 10번. 별찍기
* S에서 나옴
* 비IT에서는 코딩테스트 난이도가 낮아지는 현상임

In [ ]:
# 5 입력하여
# * 트리 출력하기
    *
   ***
  *****
 *******
*********

In [ ]:
# 앞에 공백부터 맞춰주면

n = 5
for i in range(1,n+1):
  #print(((n - i) * ' ') + (((2 * i) - 1)) * '*')
  print((n - i) * ' ' ) + ((2*i - 1) * '*') #(((2 * i) - 1)) * '*')
  # 별 찍기 -> 13579 니까 -> 2n-1

TypeError: ignored

### 11번.
* 1-100 더하는 코드

In [ ]:
s = 0
for i in range(1, 101):
    s += i
print(s)

5050

### 12번.
* 클래스 만들기
* 좋은 문제는 아님

In [ ]:
class Wizard:
  #value -> 이건 클래스 변수
  def __init__(self, health, mana, armor):  #self는 인스턴스 (정확히는 인스턴스 메모리 영역)
    self.health = health                    # -> 이건 인스턴스 변수
    self.mana = mana
    self.armor = armor

  def attack(self):
    print('파이어볼')

jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()

545 210 10
파이어볼

### 13번.

In [ ]:
리스트로 만들면됨

### 14번.
* 문제 너무 쉬워서 아래문제
* 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120871?language=javascript

In [ ]:
# Lv0문제 - 저주의 숫자 3  이정도면 풀만한 문제라 추가

#이러한 조건문제에서 문제가 쉽게 풀리지 않는경우
# -> 소거법 사용!

[i for i in range(100) if i % 3 !=0]         #3의 배수 제거
[i for i in range(100) if '3' not in str(i)] #3 들어간거 제거
# 둘을 합치면
# 조건들의 연결 -> 따라서 if 와 else문은 and or not으로 줄일 수 있음
[i for i in range(100) if i % 3 !=0 and '3' not in str(i)][9-1]
[i for i in range(100) if i % 3 !=0 and '3' not in str(i)][10-1]


#함수로 만들면
#아니고 리스트 컴프리헨션으로 만들어보면
solution = lambda n:[i for i in range(1000) if i % 3 !=0 and '3' not in str(i)][n-1]
solution(9)

14

### 15번.
* 패스해도 됨

### 16번.
* 거꾸로 출력

In [ ]:
'안녕하세요'[::-1]

'요세하녕안'

In [ ]:
s = '안녕하세요'
ss = list(s)
ss.reverse()
''.join(ss)

'요세하녕안'

In [ ]:
#요런 재귀는 현업에서도 많이 사용 - 시간표현할때 ...
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('안녕하세요')

### 17번.

In [ ]:
height = 150

if height >= 150: print("YES")

print("NO") if height >= 150: print("YES") #Errir
print("YES") if height >= 150 else print("NO")

YES

### 18번.

In [ ]:
#split -> 다적용이니까 map
list(map(int, '20 30 40'.split(' ')))

sum(map(int, '20 30 40'.split(' ')))/3

30.0

### 19, 20번.
* 쉬워서 넘어감

### 21번.

In [ ]:
# set만드는 방법 아닌거?
# 1)  x = {1, 2, 3, 5, 6, 7}
# 2)  x = {} # dict  <-
# 3)  x = set('python')
# 4)  x = set(range(5))
# 5)  x = set()

In [ ]:
t = 1
t = (1)
t        #(1) 이 안나오니까 아직 튜플이 아닌거
t = (1,) #이렇게하면 튜플
t

(1,)

In [ ]:
#어떤 라이브러리나 프레임워크에서 마지막 콤마가 꼭 있는 이유?
#1. 버전관리용에서 콤마를 버전업으로 인식
#2. 튜플에서 상수,문자가 들어갔을때 int로 변환되는 것 막기 위해
#3. ctrl+c, v 에서 용이하니까

옵션 = [
    'a',
    'b',
]

### 22, 23번.
* 쉬워서 패스

### 24번.
* 대문자로 바꾸는 방법

In [ ]:
#정답 1
'mary'.upper()

'MARY'

In [ ]:
ord('A')

65

In [ ]:
ord('a')  #built-in func인것

97

In [ ]:
ord('a') - ord('A')

32

In [ ]:
ord('a') - 32

65

In [ ]:
chr(ord('a') - 32)

'A'

In [ ]:
for i in 'mary':
  print(chr(ord(i) - 32), end='')   #완벽한 코드는 아니고, 범위를 설정해줘야함 (소문자 판단하는 if가 위에 있어야함)
                                    #이런 지식은 -> 인코딩쪽에서 활용됨

MARY

### 25번.
* 패스

### 26번.

In [ ]:
key = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'.split(', ')
value = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'.split(', ')

In [ ]:
# 딕으로 바꾸는 방법?
dict(zip(key, value))

{'수성': 'Mercury',
 '금성': 'Venus',
 '지구': 'Earth',
 '화성': 'Mars',
 '목성': 'Jupiter',
 '토성': 'Saturn',
 '천왕성': 'Uranus',
 '해왕성': 'Neptune'}

### 27번
* 패스

### 28번 2-gramm
* 은근히 많이 나옴
* 좌표계 -> zip!

In [ ]:
# 정답1
s = 'Python'
for i in range(len(s)-1):
  print(s[i:i+2])

Py
yt
th
ho
on

In [ ]:
# 어디부터 어디까지 같은 좌표계 문제 -> 이렇게 품 : zip
s = 'Python'
list(zip(s, s[1:]))   #짝이 안맞으면 생성을 안해줌 / 대신 주의:zip은 -1고려하지 않아도됨

[('P', 'y'), ('y', 't'), ('t', 'h'), ('h', 'o'), ('o', 'n')]

In [ ]:
# 정답2
s = 'Python'
for i in zip(s, s[1:]):
  print(''.join(i))

Py
yt
th
ho
on

In [ ]:
# 좌표문제 예시 - 두 차가 가장 큰 쌍은?
p = [1,3,5,7,11,14,19,21,22]
list(zip(p, p[1:]))
list(map(lambda x:x[1]-x[0], zip(p, p[1:])))

[2, 2, 2, 4, 3, 5, 2, 1]

### 29번
* 문제변경 : 대문자만 지나가도록 코딩 'HellO WoRld' -> HOR

In [ ]:
for s in 'HellO WoRld':
  if s != s.lower():
    print(s)

H
O
W
R

In [ ]:
for s in 'HellO WoRld':
  if 'A' <= s <= 'Z':
    print(s)

In [ ]:
for s in 'HellO WoRld':
  if s.isupper():
    print(s)

#이게 가장 좋은 코드 => 왜냐면 의도가 명학 -> 코드보고 아 대문자인지를 확인하려는 거구나 하고 바로 알 수 있음

H
O
W
R

### 30번.

In [ ]:
'pineapple is yummy'.find('xpple')   #없는거 찾으면 -1    => 현업에서
#'pineapple is yummy'.index('xpple')        #              error => 에러나면 서비스가 멈춤 => 따라서 운영멈추면 안되고 주기적으로 크롤링해야하는 서비스는 이쪽

-1

In [ ]:
#rfind, rindex : 오른쪽부터 찾
'pineapple is yummy apple'.rfind('apple')
#'pineapple is yummy apple'.rindex('apple')

19

In [ ]:
'pineapple is yummy apple'.rfind('apple', 10)   #10부터 찾
'pineapple is yummy apple'.rindex('apple', 10)

In [ ]:
# 예외처리는 항상 에러 날 것 같은 코드에만 (try같은거) 붙여야 -> 에러 나는 코드 정확히 파악할 수 있도록

### 31번.

In [ ]:
#cf.자료형 연산자의 시간복잡도: https://wayhome25.github.io/python/2017/06/14/time-complexity/

l = [1,2,3,4,5]

#l[10]    #out of range error!
l[10:11]  #슬라이싱 이용하면 out of range여도 error안남

[]

### 32, 33, 34번.
* 패스

### 35번.
* Factory 함수 이용한 클로저 문제

In [ ]:
## 클로저 - 매우매우 중요한 내용임!!
def one(n):
    def two(value):
        return value ** n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

In [ ]:
#클로저 이해한다면 나머지 기초들도 이해하고 있다는 의미라 -> 면접에서 많이 물어봄
#객체지향 프로그래밍
class Book:
    def __init__(self, title, content, author, pub_date):
        self.title = title
        self.content = content
        self.author = author
        self.pub_date = pub_date

    def calculate_date(self):
         self.pub_date - self.current_date

In [ ]:
def add(x,y):
  return x + y

x = add
x(10, 20)

30

In [ ]:
id(x), id(add)    #같은 값을 가리키고 있음

(134821871395184, 134821871395184)

In [ ]:
test = [x, add]   #변수로 할당하여 사용 ?
test[0](10, 20)   #test[0] 가 함수가 된것

# book크롤링데이터 = [인스턴스1, 인스턴스2, 인스턴스3...]
# json으로 변환, csv로 변환한다던지..

30

In [ ]:
def add():
    return lambda x:x**2

x = add()
x(10)

In [ ]:
def add():
    return lambda x:x**2

add()(10)()()()

In [ ]:
def add(x, y):        #이 x는 파라미터
    def test(x):
        return x * 2
    test(x)
    return 'hello'

add(10, 20)           #여기 10은 아규먼트

In [ ]:
def sub(x, y):
  return x - y

def add(x, y, f):        #함수가 변수취급  #함수에 들어가는 인자값 전달
    def test(x):
        return x * 2
    test(x)
    return 'hello'

add(10, 20, sub)        #함수가 다른함수의 인자값이 되면 -> 이 sub를 '콜백함수'라고함 #파이썬에서는 많이 안씀  #나중에 불러줄거야 위함수 어딘가에서

In [ ]:
# 데코레이터 - 기본문법이라 생각보다 중요한 내용임
# 형태 1
def simple_decorator(function):  #이 함수의 아규먼트로 아래 hello가 들어가는 것
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같습니다.

In [ ]:
def simple_decorator(function):
    def wrapper(l):
        print("Before the function call")
        print(function(map(int, l)))
        print("After the function call")
    return wrapper

@simple_decorator
def 합(l):
    return sum(l)

합([1, 2, 3, '4'])

In [ ]:
# 데코레이터 안 함수안에 인자값이 들어가있을때 ??
# 형태 2
def debug(function):
    def new_function(value):  #여기에 들어간것   #*args:아규먼츠   #**kargs:키워드 아규먼츠
        print(f'{function.__name__} 함수 시작')
        print(value)
        result = function(value)
        print(f'{function.__name__} 함수 끝')
        # return result # return 값이 있는 데코레이터는 바로 뒤에서 진행합니다.

    return new_function


@debug
def sum_1_to_n(n):
    return n * (n + 1) / 2


result = sum_1_to_n(30)     #이 인자값이

print(result)

In [ ]:
# 형태 3 - 볼일 거의 없을것, 서비스개발에서 많이쓰게됨
#중첩 데코레이터 : 데코레이터의 인자값에 뭐가 들어가느냐!

def decorator1(function):
    def new_function(*args, **kwargs):
        print('첫번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('첫번째 데코레이터 끝')
        return result

    return new_function


def decorator2(function):
    def new_function(*args, **kwargs):
        print('두번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('두번째 데코레이터 끝')
        return result

    return new_function


def decorator3(function):
    def new_function(*args, **kwargs):
        print('세번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('세번째 데코레이터 끝')
        return result

    return new_function

@decorator1
@decorator2                   #여기 들어가는 것
@decorator3                   #이게 가장 먼저 시작됨 return 된 new_function이 decorator 1,2겪어서
def sum_1_to_n(n):
    return n * (n + 1) / 2

result = sum_1_to_n(30)

print(f'result: {result}')

### 36번.
* 패스

### 37번.
* 구글입사문제로 문제변경

In [ ]:
#1부터 10000까지 8이라는 숫자를 count하라.
#count할 수 있는 자료형으로 만드는것이 핵심! / 순회 돌면서 count는 아님(대안임)


str(list(range(10000))).count('8')

4000

### 38번.
* 좀만 더 꼬면 1번 문제로는 출제할수있을듯
```
점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 : 6
```

*링크 : https://pythonworkbook.notion.site/38-f4c9b88902c744ebafd2a6c12af4814b?pvs=4

In [ ]:
map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))

In [ ]:
sorted('97 86 75 66 55 97 85 97 97 95'.split(' '), reverse=True)[0:3]

['97', '97', '97']

In [ ]:
#정답 - 동점자가 있으므로 중복제거해야
list(reversed(sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))))[:3]

[97, 95, 86]

In [ ]:
#한자리 점수가 등수에 들어갔을때는 오류가 나는 답
def solution(s):
    answer = 0
    splitdata = map(int, s.split(' '))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        answer += s.count(str(i))
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

6

In [ ]:
# 이때도 오류안나는 답
def solution(s):
    answer = 0
    splitdata = list(map(int, s.split(' ')))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        for j in list(splitdata):
            if i == j:
                answer += 1
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

# map으로 된 데이터가 왜 한 번만 순회가 되었는지
# https://www.notion.so/paullabworkspace/python-zip-b7a1992be7884891a5f1d0a5c0c2df9c?pvs=4

In [ ]:
# collection으로 써서 풀면
import collections

collections.Counter('97 86 75 66 55 97 85 97 97 95'.split(' '))  #이거 정렬해서 앞에 3개 뽑으면됨

### 39번.

In [ ]:
# q를 e로, b를 n

# 입력 : querty
# 출력 : euerty

# 입력 : hqllo my bamq is hyqwob
# 출력 : hello my bame is hyewob

'querty'.replace('q', 'e').replace('b', 'n')

'euerty'

In [ ]:
# replace와 대응되는 정규표현식 어떤거??? - sub
#관련 링크 : https://github.com/paullabkorea/Algorithm-walk-with-wenivs/blob/main/3.%20pyalgo%20%ED%92%80%EC%9D%B4/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb

In [ ]:
import re

#re.sub(pattern, replace, string, count=0, flag=0)
s = re.sub(r'q', 'e', 'querty')
re.sub(r'b', 'n', s)

'euerty'

### 40, 41번.
* 41번 소수판별 - 이제 안나오는 문제

### 42번.

In [ ]:
import datetime
datetime.datetime.today().weekday()   #0: 월요일

3

### 43번.

In [ ]:
# bin으로 풀어보면
bin(11)[2:]

#이 11 -> 이진수로 하는방법?

'1011'

In [ ]:
# 음수 변환까지 하려면 좀 더 고려를 해야 합니다.
x = 11
s = ''
while x:
    print(x)
    s += str(x % 2)
    x //= 2
s[::-1]

#   2   | 11 ... 1
#        ---
#   2   |  5 ... 1
#        ---
#   2   |  2 ... 0
#        ---

### 44번.

In [ ]:
#정답1
n = 1234
answer = 0
for i in str(n):
    answer += int(i)

In [ ]:
#정답2
n = 1234
sum(map(int, list(str(n))))

10

### 45, 46번.
* 패스

### 47번.

In [ ]:
# 고유 전화번호 아니라면 -> 이름과 번호를 합쳐야

### 48번.
* 대소문자 바꿔서 출력

In [ ]:
answer = ''
for i in 'AAABBBcccddd':
  if i.islower():
    answer += i.upper()
  else:
    answer += i.lower()

answer

'aaabbbCCCDDD'

### 49, 50, 51, 52번.
* 패스

### 53번. - 여기부터 코테문제처럼 나옴
* 20년에 카카오 '올바른 괄호' 문제나옴

In [ ]:
# 이문제 -> stack으로 풀어야함

s = '()())'
brackets = []

if s.count('(') == s.count(')'):
  print(False)
else:
  #같다면 그때부터 순회 돌아야
  for i in s:
    if i == ')' or i == '(':
      brackets.append(i)
    elif i == ')':   #이제 하나씩 꺼낼것
      if len(brackets) == 0:
        print(False)
      brackets.pop()
  print(True)

  print(brackets)

  # 닫기 나왔을때 pop사례 생각해보면

True
['(', ')', '(', ')', ')']

In [ ]:
#재호님 코드
def solution(x):
  result = 0

  for i in x:
    if i == '(':
      result += 1
    else:
      result -= 1
      if result < 0:
        return 'NO'

    if result == 0:
      return 'YES'
    else:
      return 'NO'

In [ ]:
#함승주님 코드
def char(s):
    stack = []
    mapping = {')': '(', '}': '{', ']': '['}

    for i in s:
        if i in mapping.values():
            stack.append(i)
        elif i in mapping.keys():
            if not stack or mapping[i] != stack.pop():
                return False
        else:
            return False

    return not stack

n = input()
if char(n) == True:
    print("YES")
else:
    print("NO")

### 54번.

In [ ]:
str = '1 2 3 4 5'
l = str.split(' ')
for i in range(len(l)-1):
  #print(l[i])
  if l[i]+1 != l[i+1]:
    print('NO')
  else:
    print("YES")

TypeError: ignored

In [ ]:
# 정답
list(range(min(value), min(value) + len(value))) == sorted(value)

5

In [ ]:
# 일반적인 답
user_input = input().split(' ')
user_input = [int(i) for i in user_input]

def sol(l):
    l = sorted(l)
    for i in range(len(l) - 1):
        if l[i]+1 != l[i+1]:
            return 'NO'
    return 'YES'

print(sol(user_input))

In [ ]:
# 재혁님 코드
s1 = '1 2 3 4 5'
s2 = '1 4 2 6 3'
def solution(s):
    a = sorted(list(map(int, s.split(' '))))
    if a == list(range(min(a), max(a)+1)):
        return 'YES'
    else:
        return 'NO'

solution(s2)

In [ ]:
# 재호님 코드
def solution(num):
    num = num.split(' ')
    num = list(map(int, sorted(num)))
    for i in list(zip(num, num[1:])):
        if i[1] - i[0] != 1:
            return 'NO'
    return 'YES'

solution('1 4 2 6 3')

### 55번. 하노이탑
* 재귀답안으로 그냥 외워주세요!
* for문으로 풀기엔 너무 난잡

In [ ]:
# 이 기본코드에서 완성하라
원판의이동경로 = []

def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    #원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥])
        return None
    #원반의 n-1개를 경유기둥으로 옮기고(목표기둥과 보조기둥 교체)
    하노이(#내용을 채워주세요.)
    #가장 큰 원반은 목표기둥으로
    원판의이동경로.append(#내용을 채워주세요.)
    #경유기둥과 시작기둥을 바꿉니다!
    하노이(#내용을 채워주세요.)

user_input = int(input())
하노이(user_input,'A','C','B')

print(len(원판의이동경로))

In [ ]:
#정답
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    #원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥])
        return None

    #원반의 n-1개를 경유기둥으로 옮기고(목표기둥과 보조기둥 교체)
    하노이(원반의수-1, 시작기둥, 보조기둥, 목표기둥)   #보조 <-> 목표 바꿈
    #가장 큰 원반은 목표기둥으로
    원판의이동경로.append([시작기둥, 목표기둥])
    #경유기둥과 시작기둥을 바꿉니다!
    하노이(원반의수-1, 보조기둥, 목표기둥, 시작기둥)

하노이(3,'A','C','B')
print(원판의이동경로)
print(len(원판의이동경로))

[['A', 'C'], ['A', 'B'], ['C', 'B'], ['A', 'C'], ['B', 'A'], ['B', 'C'], ['A', 'C']]
7

### 56번.

In [ ]:
#데이터
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900 }

#출력
#England 22023

In [ ]:
# nationWidth['korea']
korea = nationWidth.pop('korea')
mini = float('inf')
result_key = ''
for key in nationWidth:
    value = nationWidth[key] - korea
    if value < mini:
        mini = value
        result_key = key

result_key

220877

In [ ]:
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

def f(key):
    return nationWidth[key]

list(map(f, nationWidth))
max(map(f, nationWidth)) # values에 max를 해도 되는데?

In [ ]:
nationWidth = {
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}
min(map(lambda key: [nationWidth[key] - 220877, key], nationWidth))

### 57, 58번.
* 패스

### 59번.

In [ ]:
# 입력
# hi

# 출력
# ========================hi========================

In [ ]:
userInput = 'hi'
print('{0:=^50}'.format(userInput))
print(f'{userInput:=^50}')

In [ ]:
userInput = 'hi'
print(f'{userInput:!^50}')

In [ ]:
print(f'{userInput:!<50}')
print(f'{userInput:!>50}')

### 60번.

In [ ]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
for num, name in enumerate(student, 1):
    print(num, name)

In [ ]:
#enumerate : 순위같은거 출력할때 좋음
#필수로 알고있어야하는 func!

### 61번. 압축코드
* 코테에서 응용해서도 많이 나옴!

In [ ]:
# 입력
# aaabbbbcdddd

# 출력
# a3b4c1d4

In [ ]:
import pandas as pd

s = 'aaabbbbcdddd'
count = 1
for i in range(len(s)-1):
  if s[i] == s[i+1]:
    print(s[i].join(s.count('s[i]')))

TypeError: ignored

In [ ]:
#모든 경우 고려한 것은 아님
s = 'aaabbbbcddddaaabbbbcdddd'
answer = ''
count = 0
pre = s[0]
for i in s:
    # print(pre, i)
    if pre == i:
        count += 1
    else:
        answer += pre + str(count)
        pre = i
        count = 1

answer += pre + str(count)

answer

In [ ]:
# 제대로 된 정답 - 이 답은 암기하기!
# 정규표현식 -그룹 이용!
import re

#re.findall('()()')  #앞에서찾은 문자열의/ 개수를 찾을것
#re.findall('(\\w)(\\1)', s)   #\1 : 첫번째 그룹핑한 애들 -> 다시 맵핑하는거
re.findall('(\\w)(\\1*)', s)   #* 넣어주면 -> 0번 이상

#cf. 의미 다 알아야
# +
# ?
# *

[('a', 'aa'), ('b', 'bbb'), ('c', ''), ('d', 'ddd')]

In [ ]:
import re

s = 'aaabbbbcddddaaabbbbcdddd'
answer = ''

for i in re.findall('(\\w)(\\1*)', s):
    answer += i[0] + str(len(i[1])+1)

answer

### 62,63, 64번.
* 독특한 문제라 패스
* 64번 - 그리드 알고리즘문제 (안어렵워서 패스)

### 65번.

In [ ]:
a = [1,2,3,4]
b = ['a', 'b', 'c', 'd']
#a,b 번갈아 출력되도록

In [ ]:
for i in range(len(b)):
  print([a[i], b[i]], sep='')

[1, 'a']
[2, 'b']
[3, 'c']
[4, 'd']

In [ ]:
# -짝수번/ 홀수번으로 나눠서 (이건 꼭 들어가야되니까)
result = []
for i in range(4):
    if i % 2 == 0:
        result.append([a[i], b[i]])
    else:
        result.append([b[i], a[i]])

result

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

In [ ]:
# 더 효율적인 정답 - 태호님 코드
print(list(map(lambda x: list(x[::-1]) if x[0] % 2 == 0 else list(x), list(zip(a, b)))))

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

### 66번. 블럭탑쌓기
* 카카오 입사문제로 나옴

In [ ]:
# 입력
# 탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
# 규칙 = "ABD"

# 출력
# ["가능", "불가능", "가능", "가능"]

In [ ]:
# B와 A의 index 값 찾아서 비교하면됨
top = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
result = []

for i in range(len(top)):
  #print(top[i])
  #print(top[i].find('A'))
  if 'A' in top[i] and 'B' in top[i] and 'D' in top[i]:
    #print("YES")
    if top[i].find('A') < top[i].find('B') < top[i].find('D'):  #없을때는 ?
     #print("가능")
     result.append("가능")
  # 빠져있을때
  #else:
     #print("불가능")
     #result.append("불가능")

result

['가능', '불가능', '불가능']

In [ ]:
# 재혁님 코드
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

answer = []

for t in 탑:
    규칙인덱스 = [t.index(rule) for rule in 규칙 if rule in t]
    if 규칙인덱스 == sorted(규칙인덱스):
        answer.append('가능')
    else:
        answer.append('불가능')

print(answer)

['가능', '불가능', '가능', '가능']

In [ ]:
# 태호님 코드
input = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
rule = "ABD"

rule = list(rule)
result = list(map(lambda x: [x.find(r) for r in rule if x.find(r) != -1], input))
list(map(lambda x: '가능' if all(x[i] < x[i+1] for i in range(len(x)-1)) else '불가능', result))   #all구문이 True면 가능/ else면 불가능

# all : 모두 True여야 True
# any : 하나라도 True면 True

['가능', '불가능', '가능', '가능']

In [ ]:
# 나요님 코드
rule_dict = {char: idx for idx, char in enumerate(rule)}
lst = []
for block_order in tower:
    pre_idx = -1
    validate = True

    for block in block_order:
        for char in block:
            if char in rule_dict:
                if rule_dict[char] <= pre_idx:
                    validate = False
                    break
                pre_idx = rule_dict[char]
    if validate:
        lst.append(True)
    else:
        lst.append(False)

In [ ]:
# 정답 - 쉬운풀이
string = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
rule = "ABD"

def solution(s, rule):
    temp = 0
    for i in s: #i:'D', s:"ABCDEF"
        if i in rule:
            if temp > rule.index(i): # rule.index(i): 문자가 rule에 있다면 몇 번째에 있는지(1 > 3)
                return '불가능'
            temp = rule.index(i)
    return '가능'

solution(string[3], rule)

### 67번.
* 수학문제 - 조합(2명이 들어가는 조합문제)

In [ ]:
from itertools import combinations

n = 11
nums = range(n)
combi = list(combinations(nums, 2))
59 - len(combi)

### 68번.
* 시간체크해서 마이너스 하는거 - 시간문제 많이 나옴 -> 함수 만들어놓기!
* 카카오 입사문제에도 여러번 나옴

### 69번.
* 골드바흐의 추측 : 수학문제라 패스
* 아마 넥슨 출제문제일것
* 요즘엔 이런 문제 출제안함

### 70번.
* 수학문제라 패스

### 71번. 깊이우선탐색
* 깊스너큐!
* 출제빈도가 높음

In [ ]:
# 1. 데이터

# graph = {'E': set(['D', 'A']),
#          'F': set(['D']),
#          'A': set(['E', 'C', 'B']),
#          'B': set(['A']),
#          'C': set(['A']),
#          'D': set(['E','F'])}

# 2. 출력
# ['E', 'A', 'B', 'C', 'D', 'F']

# 3. 코드
graph = {
        'A': set(['B', 'C', 'E']),
        'B': set(['A']),
        'C': set(['A']),
        'D': set(['E', 'F']),
        'E': set(['A', 'D']),
        'F': set(['D'])
}

def dfs(graph, start):
    visited = []
    stack = [start]

    while stack:
        n = stack.pop()
        if n not in visited:
            visited.append(n)
            pass                      #여기 완성하라.
    return visited

print(dfs(graph, 'E'))

In [ ]:
graph = {
        'A': set(['B', 'C', 'E']),
        'B': set(['A']),
        'C': set(['A']),
        'D': set(['E', 'F']),
        'E': set(['A', 'D']),
        'F': set(['D'])
}

def dfs(graph, start):
    visited = []
    stack = [start]          #이 stack에 visited경로 추가되어야

    while stack:
        n = stack.pop()
        if n not in visited:
            visited.append(n)
            stack += graph[n] -set(visited) #그래프기 때문에 무한반복될 수 있음 -> 한번 방문은 방문하지 않도록하는 작업 들어가야
            #print(stack)
    return visited

print(dfs(graph, 'E'))

['E', 'D', 'F', 'A', 'B', 'C']

### 72번. 너비우선탐색

### 73번. 최단경로찾기

### 74번.
* 최장경로찾기

### 75번.
* 이상한 369 -> 저주의 숫자3이랑 같은문제

### 76번.
* 순회도는게 어려운거지 이런문제는 쉽고, 자주 출제됨

In [ ]:
# 사각형 = 5
# 탐색가능지역 = 3

# 지뢰밭 = [[1, 0, 0, 1, 0],
#           [0, 1, 0, 0, 1],
#           [0, 0, 0, 1, 0],
#           [0, 0, 0, 0, 0],
#           [0, 0, 1, 0, 0]]

In [ ]:
# 태호님 코드
import pandas as pd

target = pd.DataFrame(target)
max = -float('inf')
for h in range(region - search + 1):
    for v in range(region - search + 1):
        bomb = target.iloc[v:v+search, h:h+search].sum().sum()
        if bomb > max:
            max = bomb

print(max)

In [ ]:
# 나요님 코드
import pandas as pd
field = 5
search = 3

mine = [[1, 0, 0, 1, 0],
          [0, 1, 0, 0, 1],
          [0, 0, 0, 1, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 1, 0, 0]]

field = pd.DataFrame(mine)
lst = []
for i in range(len(field) - search + 1):
    for j in range(len(field) - search + 1):
        lst.append(field.iloc[i:3+i, j:3+j].sum().sum())
pd.Series(lst).max()

In [ ]:
# 정답
사각형 = 5
탐색가능지역 = 3
for i in range(사각형 - 탐색가능지역 + 1):
    for j in range(사각형 - 탐색가능지역 + 1):
        print(f'[{i}:{i+탐색가능지역}, {j}:{j+탐색가능지역}]')

answer = [[1, 0, 0],
          [0, 1, 0],
          [0, 0, 0]]

# sum(answer) # error
sum(answer, [])
sum(sum(answer, []))

### 77번.
* 패스

### 78번. 원형테이블
* 문제로 많이 나오는 유형 -> 기억해두기!

In [ ]:
# 태호님 코드
n = 6
k = 3

k = k-1
start = 0

foods = list(range(1, n+1))

while len(foods) > 2:
    foods.pop(start)
    if start+k >= len(foods):
        start = (start+k)-len(foods)
    else:
        start += k
foods

In [ ]:
# 정답
food_r = deque(food)
print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

from collections import deque

def solution(n, k):
    food = range(1, n + 1)
    food_r = deque(food)

    while len(food_r) > 2:
        print(f'먹은 음식: {food_r.popleft()}')
        food_r.rotate(-(k-1))
        print(f'회전 후: {food_r}')

    return list(food_r)

solution(6, 3)

### 79번.

### 80번.

### 81번.
* 지뢰찾기

In [ ]:
# 데이터
flag = [] #지뢰 없이 깃발만 있는 리스트
minesweeper = [] #지뢰를 찾은 리스트
for i in range(5):
    flag.append(input('깃발 값과 함께 입력하세요 :').split(' '))

pass                        ## 여기 완성
print(flag)
print(minesweeper)



# 입력
# 0 1 0 0 0
# 0 0 0 0 0
# 0 0 0 1 0
# 0 0 1 0 0
# 0 0 0 0 0

# 출력
# * f * 0 0
# 0 * 0 * 0
# 0 0 * f *
# 0 * f * 0
# 0 0 * 0 0

In [ ]:
matrix = [
    [0, 1, 0, 0, 0],
    [0, 0, 0, 0, 0],
    [0, 0, 0, 1, 0],
    [0, 0, 1, 0, 0],
    [0, 0, 0, 0, 0]
]

flag = [] #지뢰 없이 깃발만 있는 리스트
minesweeper = [] #지뢰를 찾은 리스트
for i in range(5):
    flag.append(input('깃발 값과 함께 입력하세요 :').split(' '))


print(flag)
print(minesweeper)

In [ ]:
# 태호님 코드
import numpy as np

matrix_arr = np.array(matrix)
matrix_arr = np.where(matrix_arr==1, 'f', matrix_arr)

for v, h in zip(np.where(matrix_arr=='f')[0], np.where(matrix_arr=='f')[1]):

    if v != 0:
        matrix_arr[v-1, h] = '*'
    if h != 0:
        matrix_arr[v, h-1] = '*'
    if v+1 <= matrix_arr.shape[0]:
        matrix_arr[v+1, h] = '*'
    if h+1 <= matrix_arr.shape[1]:
        matrix_arr[v, h+1] = '*'

print(matrix_arr)

### 84번.

In [ ]:
# 민규님 코드
number = int(input('숫자 입력: '))
k = int(input('k값 입력: '))

number_str = str(number)
number_str = sorted(number_str, reverse=True)
large_number = int(''.join(map(str, number_str[:k])))

print(large_number)

### 85번.

In [ ]:
def evalue(value):
    return ''.join([str(i) + str(value.count(str(i))) for i in range(1, int(max(value)) + 1)])

def solution(n):
    answer = '1'
    if n == 1:
        return 1
    else:
        for i in range(1, n):
            answer = evalue(answer)
            print(answer)
    return answer

# evalue('1121')
solution(6)

### 86번.
* 회전초밥

In [ ]:
입력
point = [1,1,3,2,5]
dish = 3

출력
5

입력
point = [5,2,3,1,2,5]
dish = 1

출력
10

point 각 접시별 점수가 들어있는 배열
dish 먹고자하는 접시의 위치

In [ ]:
# 원본  [1, 1, 3, 2, 5]   dish = 2
# 1번째 [1, 3, 2, 5] dish = 1
# 2번째 [3, 2, 5] dish = 0
# 3번째 [2, 5, 3] dish = 2
# 4번째 [5, 3] dish = 1
# 5번째 [3, 5] dish = 0
# 6번째

In [ ]:
# 원본  [5, 2, 3, 1, 2, 5]     dish = 0
# 1번째 [2, 3, 1, 2, 5, 5]     dish = 5 (len - 1)
# 2번째 [3, 1, 2, 5, 5, 2]     dish = 4
# 3번째 [1, 2, 5, 5, 2, 3]     dish = 3 (먹)
# 4번째 [2, 5, 5, 2, 3]     dish = 2 (먹)
# 5번째 [5, 5, 2, 3]     dish = 1
# 6번째 [5, 2, 3, 5]     dish = 0
# 7번째 [2, 3, 5, 5]     dish = 3 (len - 1) (먹)
# 8번째 [3, 5, 5]     dish = 2 (먹)
# 9번째 [5, 5]     dish = 1 (먹)
# 10번째 [5]     dish = 0 (먹)
# 11번째

In [ ]:
# point1. sorted를 한 다음 작은 값부터 삭제되고 있는지 확인
#         1.1 순서대로 먹지 않았으면 뒤로 보낸다.
# point2. dish가 작은 값이 다 삭제된 후 0번째인지 확인
# point3. 만약 먹을 접시의 점수가 나보다 크면 뒤로 보낸다.

In [ ]:
def solution(접시점수, 먹을접시위치):
    먹을접시위치 -= 1
    정답 = 0
    정렬된접시점수 = sorted(접시점수)
    while True:
        print(f'접시점수:        {접시점수}')
        print(f'정렬된 접시점수: {정렬된접시점수}')
        print(f'count: {정답}')
        print(f'먹을접시위치: {먹을접시위치}')
        맨앞접시 = 접시점수.pop(0)
        if 정렬된접시점수[0] == 맨앞접시:
            if 먹을접시위치 == 0:
                break
            먹을접시위치 -= 1
            정렬된접시점수.pop(0)
        else:
            접시점수.append(맨앞접시)
            먹을접시위치 = len(접시점수) - 1 if 먹을접시위치 == 0 else 먹을접시위치 - 1
        정답 += 1
        return 정답


접시점수 = [1, 1, 3, 2, 5]
먹을접시위치 = 3
print(solution(접시점수, 먹을접시위치))

In [ ]:
# point 각 접시별 점수가 들어있는 배열
# dish 먹고자하는 접시의 위치
def solution(point, dish):
#배열 순서는 0부터 시작, 입력은 1부터시작이기 때문에 -1 해준다.
    dish -=1
    answer = 0
#오름차순으로 정렬
    s = sorted(point)
    while True:
# point 제일 앞의 점수를 추출하여  p에 넣어 놓는다. 즉, 앞에 도착한 접시의 점수!
# pop과 append를 활용해 회전하도록 구현할 예정 !
        p = point.pop(0)

        #현재 s[0]은 point 배열을 에서 가장 작은 값을 가지고 있음!
        #현재 가장 낮은 점수를 가지고 있는 접시가 앞에 도착했다면 먹도록 할것!
        if s[0]==p:
        #앞에 도착한 접시가 선택한 접시라면 먹고 반복문 종료
            if dish == 0:
                break
            #선택한 접시 움직임.
            dish-=1
            #한 접시를 먹었음으로 하나 줄어듬
            s.pop(0)
        else:
            #접시위 초밥을 먹을 수 있는 조건이 충족되지 않아 그대로 둔다
            # pop했던것을 다시 append.
            point.append(p)
            #접시의 움직임 만약 선택한 접시가 앞에 도착했다면 맨뒤로 보내고,
            #그렇지 않다면 한칸 당긴다.
            dish = len(point)-1 if dish==0 else dish-1
            # 반복 한번당 접시 한번 지나감을 나타냄.
        answer+=1
    return answer

### 90번.
* 의약성분을 찾아라
* 비공개문제 - 유명한 기업 비공개문제로 나옴!!

In [ ]:
import random as r

l = [chr(i) for i in range(65, 91)]
total_medicine = []
answer = []

user_input = ('ABCDEF', 4)

for i in range(100):
    total_medicine.append(r.sample(l, 8))

for i in total_medicine:
    if len(set(user_input[0]) & set(i)) == user_input[1]:
        answer.append(i)

answer

In [ ]:
import random as r

l = [chr(i) for i in range(65, 91)]
total_medicine = []
answer = []

user_input = ('ABCDEF', 4)

for i in range(100):
    total_medicine.append(r.sample(l, 8))

for i in total_medicine:
    if len(set(user_input[0]) & set(i)) == user_input[1]:
        answer.append(i)

answer

### 92번.

In [ ]:
test = '3,012,000'

s1 = ''
s2 = ''
for i in test.replace(',', ''):
    if i == '3':
        s1 += '1'
        s2 += '2'
    elif i == '4':
        s1 += '2'
        s2 += '2'
    elif i == '6':
        s1 += '1'
        s2 += '5'
    else:
        s1 += i
        s2 += '0'

format(int(s1), ','), format(int(s2), ',')

### 93번.
* LRU 라서 이런 문제는 안나옴
* 페이지교체 알고리즘 - FIFO 아 나온다???

In [ ]:
메모리 = [] #메모리 maxlen = 3
시간 = 0

for i in 'BCBAEBCE':
    if i in 메모리:
        시간 += 1
    else:
        시간 += 6
        메모리.append(i)
        if len(메모리) > 3:
            메모리.pop(0)
    print(메모리)

시간

### 94번.
* 페이지 교체 - LRU알고리즘은 자주 나옴!
* 링크 : https://pythonworkbook.notion.site/94-LRU-140c248b729948b180398acc0a370a0e?pvs=4

* 아래처럼 행렬 문제 (애니팡 같은 i,j 따지는 문제) 자주 나오므로 풀어보기!

In [ ]:
from collections import deque


l = deque(maxlen=3)
l.append(3)
l.append(4)
l.append(5)
l.append(6)
l.append(7)
l

In [ ]:
from collections import deque

메모리 = deque(maxlen=3)
시간 = 0

for i in 'ABCABCABC':
    if i in 메모리:
        값 = 메모리.popleft()
        메모리.append(값)
        시간 += 1
    else:
        시간 += 6
        메모리.append(i)

시간

In [ ]:
n = 5
value = [[10, 11, 12, 13, 14],
         [15, 16, 17, 18, 19],
         [20, 21, 22, 23, 24],
         [25, 26, 27, 28, 29],
         [30, 31, 32, 33, 34]]

result = [[0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0]]

for i in range(5):
    for j in range(5):
        result[j][n-1-i] = value[i][j]

result

### 97번.

In [ ]:
def solution(택배원의수, 택배거리):
    time = 0
    택배원택배거리 = [0] * 택배원의수
    while 택배거리:
        for i in range(택배원의수):
            if 택배원택배거리[i] == 0 and 택배거리:
                택배원택배거리[i] = 택배거리.pop(0)
        택배원택배거리 = list(map(lambda x: x-1, 택배원택배거리))
        time += 1
        print('------------')
        print(택배원택배거리, time)
    print('-----end while------')
    print(택배원택배거리, time)
    time += max(택배원택배거리)
    return time


배달원 = 3
택배 = [1,2,1,3,3,3]
택배원택배거리 = [0, 0, 0]

print(solution(배달원,택배))

In [ ]:
# 상차에는 시간 걸리지 않기 때문에 else문 삭제? 하면
def solution(인원수, 택배):
    시간 = 0
    택배원그룹 = 인원수 * [0]
    while 택배:
        print(택배원그룹)
        for i in range(인원수):
            if 택배원그룹[i] == 0 and 택배:
                택배원그룹[i] = 택배.pop(0)
        택배원그룹 = list(map(lambda x: x-1, 택배원그룹))
        시간 += 1
    시간 += max(택배원그룹)
    return 시간

배달인원 = 3
배달시간 = [1,2,1,3,3,3]
solution(배달인원, 배달시간)

### 98번.

### 99번.

### 100번.