#코딩테스트
[추천서적]
* 코딩테스트 접근 : 파이썬 알고리즘 인터뷰(박상길)**
* 기타 : 파이썬 자료구조와 알고리즘(중학교 학생 가르칠 때 사용), 그림으로 배우는 알고리즘(코드 없고 그림만 있습니다), 알고리즘 산책(역사적인 알고리즘을 쭉 훑어봅니다. 수학적인 내용이 많고 코드는 C++로 되어 있으나 보는데 큰 무리는 없습니다.)

In [ ]:
## 우리는 level3까지 - 합격선에까지만 가는 것이 목표!!

##1.1 코테 전 준비사항

1. 플렛폼에 익숙해지자! (프로그래머스, 구름EDU 등)
    * 사용 가능 라이브러리 미리 확인 등
    * 대부분 numpy나 pandas 같은 라이브러리 사용 금지이지만 간혹가다 제한이 없는 곳도 있습니다. numpy는 python보다 대부분의 경우 속도가 빠릅니다. 크기에 따라 다르지만 100000개 이상의 배열의 연산의 경우 50배 이상의 성능을 보입니다.
2. 언어 선택(속도 : C++, 풀이 : Python)
3. 코드 스니펫(트리, 검색, 최단경로(예를 들어 다익스트라), 직접 제작한 함수 등), Cheatsheet, A4 용지 준비
    * 코드 스니펫을 만들어둔 레파지토리 fork - [제주코딩베이스캠프](https://github.com/paullabkorea/programmersLv0)
    * 시험 전 스니펫을 만들지 말고 하루 한 문제씩(저도 매일 한 문제씩 풉니다.)
4. 유용한 라이브러리 정리! (collections, itertools(순열, 조합), functools, itertools, re, bisect, math 등) - [제주코딩베이스캠프](https://www.youtube.com/channel/UC4GnvNKtuJ4cqWsYjxNxAEQ) 유튜브 채널 확인
5. 기억해두자! 예외처리!
6. 속도개선
    1. class로 구현
    2. 메서드 대신 슬라이싱 구현(슬라이싱은 C로 구현되어 있어 메서드보다 통상 8배정도 빠릅니다.)하세요. 다만 공간복잡도가 상승할 수 있습니다. (리스트.reverse(), reversed(리스트), 리스트[::-1])
    3. for문 대신 list comprehension을 사용하세요. 더 빠릅니다.
    4. 재귀는 느립니다. 최후의 수단으로 사용하세요.

## 1.2 문제 유형과 출제 방식
* 5 ~ 6시간, 6 ~ 7문제
* 30분씩 4문제, 2시간씩 2문제
* 문제 유형 분석 관련 글
    * [문제 유형 분석](https://www.hanbit.co.kr/media/channel/view.html?cms_code=CMS4385594264)
    * [언어 유불리 여부](https://www.hanbit.co.kr/media/channel/view.html?cms_code=CMS9145550324&cate_cd=)
    * [코딩 테스트에 가장 많이 출제 되는 알고리즘](https://www.hanbit.co.kr/media/channel/view.html?cms_code=CMS7793635735&cate_cd=)
        * 요구사항 구현 알고리즘(33%)
        * 그리디 알고리즘(20%)
        * 너비우선탐색, 깊이우선탐색(20%)
        * 정렬(8%)
        * 다이나믹 프로그래밍, 최단경로, 이진 탐색 등
* 전체 문제 유형
    * 알고리즘
        * 정렬
        * 이진 검색
        * 비트 연산
        * 슬라이딩 윈도우, 페이지 교체
        * 분할 정복
            * 그리디 알고리즘
            * 다이나믹 프로그래밍
    * 자료구조
        * 선형
            * 스택과 큐, 데크
            * 연결리스트, 해시 테이블
        * 비선형
            * 그래프(최단경로) - 다익스트라가 나오면 매우 어려운 문제
            * 트리
                * 힙
                * 트라이

### 1.3.1 1번 워밍업 문제(google)

1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

문제 링크 : https://codingdojang.com/scode/393

In [1]:
#문자형으로 바꾸면 .count할 수 있
'[1,2,3,4,5,6,7,8,9,10,11,12]'.count('1')

5

In [2]:
#따라서 문자형으로 만들려면
str(list(range(1,13)))

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]'

In [3]:
str(list(range(1,10000))).count('8')

4000

In [4]:
#속도측정
%%timeit

s = 0
for i in range(100001):
  s += i

6.22 ms ± 1.38 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [5]:
%%timeit

sum([i for i in range(100001)])   #list comprehension이 더 빠름

3.97 ms ± 176 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
s = ''
for i in range(10001):
  s += str(i)


s.count("8")

4000

In [8]:
result = []
for i in range(10001):
  result.append(i)

str(result).count('8')   #print하면 ''생략됨

4000

In [9]:
str([i for i in range(10001)]).count('8')  #append한 i가 앞에/ for문 뒤에 그대로 가져오고 
#주의 : print는 매우 부하가 큰 함수 - print그대로 제출하지 말것!

4000

In [ ]:
#8이 나오면 count+= 1  ??

### 1.3.2 2번 워밍업 문제(daum)

1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S = [1, 3, 4, 8, 13, 17, 20] 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

문제링크 : https://codingdojang.com/scode/408

In [15]:
#min, max 쓰지 않고/ 가장 작은 값과 큰값을 찾는 방법을 알고 있어야

# 가장 작은 값 -> 가장 큰 값을 가지고 있는 상태에서 가장 작은값을 찾아감
# 가장 큰 값 -> 가장 작은 값을 가지고 있는 상태에서 가장 큰 값을 찾아감.

#ex) [[1,2,3], [6,5,8], [9,11,5]] 에서 어떻게 찾을까?
l = [[1,2,3], [6,5,8], [9,11,5]]
[i for i in l]
[j for i in l for j in i]

[1, 2, 3, 6, 5, 8, 9, 11, 5]

In [16]:
# 가장 작은 값 -> 가장 큰 값을 가지고 있는 상태에서 가장 작은값을 찾아감
data = [1, 2, 3, 6, 5, 8, 9, 11, 5]
m = float('inf')  #무한대수라 항상 제일 큰값 

for i in data:
  if i <m:
    m = i
m

1

In [18]:
# 가장 큰 값 -> 가장 작은 값을 가지고 있는 상태에서 가장 큰 값을 찾아감.
m = -float('inf')  #float('-inf')여도됨   #음수고려해야 하기때문에 0은 안됨 
for i in data:  
  if i >m:
    m = i
m

11

In [ ]:
#많이 실수하는거
-10//3   #-4임     #왜냐면 내림임!!!

In [22]:
##최솟값 쌍 구하기 
data = [1, 2, 3, 6, 5, 8, 9, 11, 5]
#data[1] - data[0]
#data[2] - data[1]
#data[3] - data[2]

index = 0
m = float('inf') 
for i in range(len(data)-1):   #처음에 0들어왔으니까 
  if (data[i+1] - data[i]) <m:
    m = data[i+1] - data[i]
    index = i
index
data[index], data[index+1]        #3,4 여야되는데?????

(11, 5)

In [ ]:
data = [1, 3, 4, 8, 13, 17, 20]
# data[1] - data[0]
# data[2] - data[1]
# data[3] - data[2]
m = float('inf')
index = 0
for i in range(len(data)-1):
    print(data[i+1] - data[i])
    if (data[i+1] - data[i]) < m:
        m = data[i+1] - data[i]
        index = i
        
index

In [27]:
data = [1, 3, 4, 8, 13, 17, 20]
list(zip(data, data[1:]))         #zip으로 묶여서 또 원래 호출하면 안나옴 - 되돌려감기 안됨  
sorted(list(zip(data, data[1:])), key = lambda x:x[1]-x[0])  #이거 기준으로 정렬  #sorted는 되돌려감기 됨

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
data = [1, 3, 4, 8, 13, 17, 20]
[i for i in zip(data, data[1:])]

In [31]:
#sorted([[1,11,21], [13,2,21], [2,11,101]])  #key없으면 어차피 0번째로 정렬함 #따라서 앞에 정렬기준 주면 됨 

data = [1, 3, 4, 8, 13, 17, 20]
[[i[1] - i[0], i] for i in zip(data, data[1:])]
sorted([[i[1] - i[0], i] for i in zip(data, data[1:])]) #따라서 이거 기준 sorted하면 됨 
sorted([[i[1] - i[0], i] for i in zip(data, data[1:])], reverse=True)

[[5, (8, 13)],
 [4, (13, 17)],
 [4, (4, 8)],
 [3, (17, 20)],
 [2, (1, 3)],
 [1, (3, 4)]]

## 1.4 기본 자료구조 및 알고리즘
1. 스택과 큐
2. 연결리스트
3. 트리와 그래프
    * 3.1 트리 구현
    * 3.2 트리의 순회
4. 정렬 알고리즘
    * 4.1 선택정렬
    * 4.2 삽입정렬
    * 4.3 병합정렬
    * 4.4 퀵정렬
5. 페이지 교체 알고리즘
6. 슬라이딩 윈도우와 투 포인터 알고리즘

### 1.4.1 스택과 큐
* 스택과 큐는 프로그래밍 언어가 생겨날 때부터 있었던 매우 고전적인 개념
* 스택은 LIFO(Last-In-First-Out, 후입선출)
* 큐는 FIFO(First-In_First-Out, 선입선출)
* 특히 알고리즘 문제에서 너비우선 탐색과 깊이 우선탐색에 응용됨
* 리스트가 스택과 큐의 모든 연산이 구현되어 있음
* ADT(Abstract Data Type)
    * S.top(): 스택의 가장 윗 데이터를 반환한다. 만약 스택이 비었다면 이 연산은 정의불가 상태이다.
    * S.pop(): 스택의 가장 윗 데이터를 삭제한다. 스택이 비었다면 연산 정의불가 상태.
    * S.push(): 스택의 가장 윗 데이터로 top이 가리키는 자리 위에(top = top + 1) 메모리를 생성, 데이터 x를 넣는다.
    * S.empty(): 스택이 비었다면 1을 반환하고,그렇지 않다면 0을 반환한다.

In [ ]:
##stack :쌓임 - 스택문제만 나옴 (큐는 경우의 수가 하나라) - 너비우선탐색, 깊이우선탐색에서도 나옴 
s = []
#값 삽입 
s.append(10)
s.append(20)

#값 꺼냄 
s.pop()

In [ ]:
## 보통의 queue  :그대로 넣고 빠짐(선입선출) <-> 내맘대로 queue
s = []
#값 삽입 
s.append(10)
s.append(20)

#값 꺼냄 
s.pop()   #s[0]이 나감

In [ ]:
#https://pyalgo.co.kr/?page=6# - 스택문제네 라고 파악할 수 있어야 (level2이상)
#스토리 - 줄글은 읽을필요없음 
#먼저 스크롤 내려서 입출력부터 본다. 
#입출력 설명 > 입출력보면서 > 유추하기 > 중간에서 빼내지 못한다 -> 스택! 
#합쳐져서 빠지는거 - 먹는거니까 

data = [1, 1, 1, 2, 3, 4, 1, 2, 3, 4, 1]
stack = []
count = 0 

for i in data:
  #스택에다 i를 쌓음 
  stack.append(i)
  if stack[-5:] == [1,2,3,4,1]: #만나면 통째로 뽑아주겠다
    for _ in range(5):
      stack.pop()     #pop을 다섯번하면 됨 
      count += 1      #매칭될때마다 하나씩 올려줌

In [ ]:
#슬라이싱으로 푸는 문제 아님! -왜냐면 먹고나서 사라져야함 
#번외 참고용 - 슬라이싱은 out of range 나와도 error 주지않음

In [ ]:
##파라미터는 선언 아규먼트는 실행 - 파선아실!
##깊이 스택 너비 큐 - 깊스너큐!

### 1.4.2 연결리스트  (중요###) - 대부분 level4 문제
* 연결리스트, 메모리 효율을 위해 사용되는 경우가 많음
* 개념 : https://en.wikipedia.org/wiki/Linked_list
* 알고리즘 시각화 : https://visualgo.net/ko

In [ ]:
# Linked List : 하나의 노드에는 value값과 linked list가 있음

In [41]:
#22,2,90,77 연결한 linked list를 구현해주세요
#먼저 딕셔너리로 구현해보면 
linked_list = {
    'head': {
        'data': 22,
        'next': {#2를 가리키는 딕셔너리
                 'data':2,
                 'next':{
                    'data':90,
                    'next':{
                        'data':77,
                        'next':None
                    }
                }
          }
    }
}
#우리의 목표는 아래와 같이 값을 이동해가면서 어떤 수행 작업을 하는것 
#어떤 수행작업 : 데이터 읽까지 알면 충분//삽입/삭제... 
linked_list['head']['next']['data']
linked_list['head']['next']['next']['data']

90

In [43]:
#마지막에 여기에 추가하는것 
linked_list = {'head':None}
node1 = {'data':22,'next':None}
node2 = {'data':2,'next':None}
node3 = {'data':90,'next':None}
node4 = {'data':77,'next':None}

#노드 연결 
#여기도 추가
linked_list['head'] = node1
node1['next'] = node2   
node2['next'] = node3
node3['next'] = node4

In [44]:
node1['data']
node1['next']['data']
node1['next']['next']['data']

90

In [ ]:
#마지막에 이렇게 뽑을수 있도록 
linked_list['head']['next']['data']
linked_list['head']['next']['next']['data']

In [46]:
#클래스로 구현해보면
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

node1 = Node(22)
node2 = Node(2)
node3 = Node(90)
node4 = Node(77)

node1.next = node2
node2.next = node3
node3.next = node4

In [50]:
node1.data
node1.next.data
node1.next.next.data

90

In [57]:
current = node1
while current:
  print(current.data)
  current = current.next  #다음으로 건너가도록  #node1.next -> node2가 된것

22
2
90
77

In [ ]:
# step 2 자동으로 다음 노드가 연결되는 linked list 구현
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#                              tail

class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
  def __init__(self):
    init = Node('init')
    self.head = init
    self.tail = init      #위 주석에 따라 
    self.count = 0

  def append(self, data):
    newNode = Node(data)
    self.tail.next = newNode             #self.tail = init 의 
    self.tail = newNode
    self.count += 1

l = LinkedList()
l.append(22)
l.append(2)
l.append(90)
l.append(77)

In [ ]:
l.head.data
l.head.next.data
l.head.next.next.data
l.head.next.next.next.data
l.head.next.next.next.next.data

In [65]:
# step 3 추가 기능 구현
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
  def __init__(self):
    init = Node('init')
    self.head = init
    self.tail = init      #위 주석에 따라 
    self.count = 0

  def append(self, data):
    newNode = Node(data)
    self.tail.next = newNode             #self.tail = init 의 
    self.tail = newNode
    self.count += 1

  def __len__(self):
    return self.count

    def __str__(self):
        current = self.head
        current = current.next
        s = ''
        for i in range(self.count):
            s += f'{current.data} '
            current = current.next
        return f'[{s}]'    # f'<{s}>'
      

l = LinkedList()
l.append(22)
l.append(2)
l.append(90)
l.append(77)
len(l)

#<22,2,90,77> 로 출력하려면
print(l)

<__main__.LinkedList object at 0x7f1cbbeb3b50>

In [ ]:
def __str__(self):
        current = self.head
        current = current.next
        s = ''
        for i in range(self.count):
            s += f'{current.data}, '
            current = current.next
        return f'<{s[:-2]}>'

    def pop(self):
        마지막값 = self.tail.data
        현재노드 = self.head
        
        for i in range(self.데이터수):
            if 현재노드.next is self.tail:
                self.tail = 현재노드
                break
            현재노드 = 현재노드.next
            
        self.데이터수 -= 1
        return 마지막값
    
    def find(self, data):
        index = -1
        현재노드 = self.head
        
        for i in range(self.데이터수+1):
            if 현재노드.data == data:
                return index
            index += 1
            현재노드 = 현재노드.next
            
        return -1

    def insert(self, input_index, input_data):
        현재노드 = self.head
        
        for i in range(input_index):
            현재노드 = 현재노드.next
            
        신규노드 = Node(input_data)
        신규노드.next = 현재노드.next
        현재노드.next = 신규노드
        
        self.데이터수 += 1

# 22, 2, 90, 77
l = LinkedList()
l.append(22)
l.append(2)
l.append(90)
l.append(77)
len(l)
print(l) # [22, 2, 90, 77], <22, 2, 90, 77>

In [66]:
# step 4 순회기능 구현
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0

    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

    def __len__(self):
        return self.count

    def __str__(self):
        current = self.head
        current = current.next
        s = ''
        for i in range(self.count):
            s += f'{current.data}, '
            current = current.next
        return f'<{s[:-2]}>'

    def __iter__(self):
        현재노드 = self.head
        현재노드 = 현재노드.next
        while 현재노드:
            yield 현재노드.data      #함수 중단한채로 값 반환 
            현재노드 = 현재노드.next 


# 22, 2, 90, 77
l = LinkedList()
l.append(22)
l.append(2)
l.append(90)
l.append(77)

for i in l:
  print(i)

22
2
90
77

In [ ]:
#yield 설명 
def gen():
  result = 0
  while True:
    yield result  #진행되고 있는 상태에서 반환값만 주고/ 다음번에 또만나면 다음번 순회 
    result += 2

list(zip('hello world', gen()))

In [ ]:
## step4를 손으로 2번 써보기!! 
# 각 클래스에 쓴 내용을 사진찍어서 1장만 올리기

In [ ]:
# step 4 순회기능 구현
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0

    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

    def __iter__(self):
        현재노드 = self.head
        현재노드 = 현재노드.next
        while 현재노드:
            yield 현재노드.data
            현재노드 = 현재노드.next

    def __len__(self):
        return self.count

    def __str__(self):
        current = self.head
        current = current.next
        s = ''
        for i in range(self.count):
            s += f'{current.data}, '
            current = current.next
        return f'<{s[:-2]}>'

l = LinkedList()
l.append(22)
l.append(2)
l.append(90)
l.append(77)

for i in l:
    print(i)

In [ ]:
def gen():
    result = 0
    while True:
        yield result
        result += 2

list(zip('hello world', gen()))

# 알고리즘 문제 -Lv0

In [ ]:
https://school.programmers.co.kr/learn/courses/30/lessons/120921
문제링크

In [79]:
import collections 

def solution(A, B):
  if A == B:
    return 0 
  비교 = collections.deque(A)
  for i in range(len(A)):
    비교.rotate(1)
    if ''.join(비교) == B:
      return i+1

  return -1

solution("hello", "lohel")
# solution("hello", "lohel")
# solution("hello", "llohe")
solution("hello", "leohl")

2

In [80]:
## 2번째 방법. 
#hello + hello 를 두개 붙여서 거기서 있다면 -> 밀어서 도출할 수 있는 것 

def solution(a,b):
  return (b*2).find(a)

solution("hello", "lohel")   #왜냐면 find는 어차피 못차으면 -1줌

2

In [69]:
t = 'hello'
t[1:] + t[0]

'elloh'

In [78]:
import collections 

test = collections.deque('hello')
test.rotate(1) #-1 이 방향아니니까 
test

deque(['o', 'h', 'e', 'l', 'l'])

In [ ]:
## 파이썬 알고리즘 베스트10 - deque, counter 둘다 많이 쓰니까 인프런 강의 들어보기

In [76]:
import collections 

test = collections.deque('hello')
test.rotate(2)
#test
''.join(test)

'lohel'

In [77]:
import collections 

collections.Counter('aaaaaabbbbbbxxxceff')

Counter({'a': 6, 'b': 6, 'x': 3, 'c': 1, 'e': 1, 'f': 2})

In [81]:
#https://school.programmers.co.kr/learn/courses/30/lessons/120585
#코딩테스트 연습 > 코딩테스트 입문 > 머쓱이보다 키 큰 사람

def solution(array,height):
  count = 0
  for i in array:
    if i > height:
      count += 1
  return count 

solution([149, 180, 192, 170], 167)

3

In [86]:
list(filter(lambda x : x > 167, [149, 180, 192, 170]))

[180, 192, 170]

In [ ]:
#저주의 숫자 3 https://school.programmers.co.kr/learn/courses/30/lessons/120871

def solution(n):
  result = [1,2,4,5,7,8,11,14,16][n-1]

list(filter(lambda x: '3' not in str(x), (filter(lambda x:x%3!=0, range(1000)))))

In [ ]:
a = filter(lambda x: x%3 != 0, range(100))
b = filter(lambda x: '3' not in str(x), a)
c = list(b)
c

In [ ]:
result = []
for i in range(1000):
    if i % 3 != 0 and '3' not in str(i):
        result.append(i)
result

In [ ]:
def solution(n):
    result = []
    for i in range(1000):
        if i % 3 != 0 and '3' not in str(i):
            result.append(i)
    return result[n-1]

In [ ]:
#다트게임 - 정규표현식 (정규표현식은 무조건 한문제는 나옴 - 많으면 3문제까지) 문제
#https://school.programmers.co.kr/learn/courses/30/lessons/17682
#raw string -> r''
import re

re.findall(r'[0-9]', r'1S2D*3T')
re.findall(r'[0-9]', r'10S2D*3T')
re.findall(r'[0-9]|10', r'10S2D*3T')
re.findall(r'(10|[0-9])', r'1S2D*3T')

re.findall(r'\d', r'10S2D*3T')
re.findall(r'\d+', r'10S2D*3T')

re.findall(r'(10|[0-9])([SDT])([*#]?)', r'1S2D*3T')

In [89]:
print('hello\nworld')
print(r'hello\nworld')

hello
world
hello\nworld

In [ ]:
#https://pyalgo.co.kr/?page=2#

import re

re.findall('([rev])(10|[0-9])','')

In [ ]:
def solution(data):
    s = 0
    data = re.findall('([rev])(10|[0-9])', data)
    for _, i in data:
        s += int(i)
    return f'{str(s)[0]}월 {str(s)[1]}일'

In [90]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120851

for i in "aAb1B2cC34oOp":
  if(i.isdigit()):
    print(i)

1
2
3
4

In [ ]:
import re

re.findall('[0-9]', "aAb1B2cC34oOp")
re.sub('[0-9]', "!", "aAb1B2cC34oOp")
re.sub('[0-9]', "", "aAb1B2cC34oOp")
re.findall('[0-9]', "aAb1B2cC34oOp")

In [ ]:
import re

def solution(my_string):
    return sum(int(i) for i in re.sub('[^1-9]', '', my_string))

In [94]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
#진료순서 정하기 문제 

# [3, 76, 24] => [3, 1, 2]
# step1 : [3, 76, 24]를 내림차순으로 정렬합니다.
# step2 : [76, 24, 3]을 얻어낸 상태(a)에서 [3, 76, 24]를 순회를 돕니다.
# step3 : [3, 76, 24]를 순회 돌면서 a에서 몇 번째 있는지 찾아냅니다! 찾아내서 index에 +1을 합니다.
# step4 : +1한 데이터로 새로운 list를 만듭니다.

원본 = [3,76, 24]
a = sorted(원본, reverse=True)
[a.index(i)+1 for i in 원본]

[3, 1, 2]

In [ ]:
#Node부분 step4 손으로 쓰기, 사진찍어서 class멘토방에 올리기 
#오늘 푼 문제 중에서 복습 필요하다고 생각하는 부분 복습 
#마지막 문제는 과제임~ 함수로 만들어서 제출