# 정규표현식 (=regex)
* 특정 규칙 가진 문자열 집합 표현하는 언어

## 1. 파일 입출력

In [2]:
#파일 현재위치 확인
#작업을 하다보면 input/output 헷갈릴때 

import os
os.getcwd()

'/content'

In [3]:
#폴더(경로) 이동하기 
os.chdir('/content/sample_data')

os.getcwd()

'/content/sample_data'

In [4]:
#폴더 안 어떤 파일있는지 확인
os.listdir()

['README.md',
 'anscombe.json',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_test.csv',
 'mnist_train_small.csv']

In [ ]:
list_dir = os.listdir()
print(list_dir)  #로 해서 쓸 수 있

In [6]:
#파일 열고 쓰기
f = open('a.txt', 'w')  #파일 생성됨 
f.write('안녕하세요')   #w모드 예시 
f.close()

In [7]:
#읽기 모드
#읽는다는것은 이미 있다는 것을 전제로함 
f = open('a.txt', 'r')
f.read()                   #커서가 다음으로 가있어서 아무것도 나오지 않음 

f.seek(0)                  #> 커서 초기화해서 0번째로 
f.read()

'안녕하세요'

In [8]:
# 텍스트 추가 모드
f = open('a.txt', 'a') 
f.write('  추가되는 문장이에요')
f.close()

In [9]:
f = open('a.txt', 'r')
f.read()

'안녕하세요  추가되는 문장이에요'

In [10]:
#파일 열고 닫 > 귀찮
## 따라서 with문 사용 
with open('test.txt', 'w') as f:
  f.write("테스트 중입니다.")

In [ ]:
# 만약 한글 파일로 된 오류가 떳을때나 인코딩오류가 났을때

import codecs 
f = codecs.open('한글파일.txt', 'r', 'utf-8')
f.read()

## 문자열 연결 - .join
* "구분 문자".join([문자열1, 문자열2, 문자열3])

* 문자열에서는 문자열 리스트를 특정한 문자로 연결하는 join 메서드를 제공합니다.

* 공백으로 연결하거나, 쉼표로 연결할 수 있어요

In [12]:
text_list = ['Hello', 'World', 'Python']
test1 = '-'.join(text_list)
print(test1)

Hello-World-Python

#### f-string
* 파이썬 3.6부터 포맷 지정 문자열인 f string이 지원된다.
* 일반적인 문자열 앞에 f를 붙이고 중괄호로 둘러쌓아 텍스트 및 변수를 받는다.

In [ ]:
name = '홍길동'
age = 10 
test = f'제 이름은 {b}, 나이는 {a}'
print(test)

#### 치환 - replace()

In [14]:
text1 = 'Simple is Best Plan'
# 공백을 없애는 replace문
text2 = text1.replace(' ','__', 3) 
print(text1)
print(text2)

Simple is Best Plan
Simple__is__Best__Plan

#### 포함 여부 - in

* in은 리스트나 set에 특정요소가 포함되었는지를 판정합니다. 
* 문자열에서 사용하면 특정 문자열의 포함여부를 판정할 수 있고 bool로 반환합니다.
* 이때 영문인 경우 대소문자를 꼭 점검해야합니다.

In [15]:
text = "Simple is Best"
contains = " " in text
print(contains)          #공백도 문자열로 인식

True

In [17]:
# 영문 Kim Korea
text = "Simple is Best"
#lower() -> 대문자 -> 소문자
contains = "SIMPLE".lower() in text.lower()
contains

True

#### 일부추출 
* 가장 마지막 문자는 -1로 추출
* 슬라이싱 [: n-1까지]

#### 공백처리 - .strip
* strip()함수로 앞뒤 문자열 공백 제거

In [18]:
text = ' abcsdefd '
stripped = text.strip()
print('*'+ stripped +'*')

*abcsdefd*

In [19]:
text = ' abcdefg '

#오른쪽 공백 제거 
r_stripped = text.rstrip()
print(r_stripped)

#왼쪽 공백 제거 
l_stripped = text.lstrip()
print(l_stripped)

 abcdefg
abcdefg

#### 대소문자 변환 - .upper .lower

In [ ]:
#대문자 변환 
text = 'abdEDfghr'
upper_text = text.upper()
print(upper_text)

In [ ]:
#소문자 변환 
text = 'abdEDfghr'
lower_text = text.lower()
print(lower_text)

#### 구분자로 분리 - .split
* split - : 지정한 구분 문자로 문자열을 분할한 리스트 반환

In [20]:
# 문장에 있는 모든 단어를 가져오고 싶을때

text = "Time,is,Zero.,Simple,is,Best"
l = text.split(",")
print(l)

['Time', 'is', 'Zero.', 'Simple', 'is', 'Best']

#### 문자열을 0으로 채움 - .zfill

* .zfill 메서드 : 인수로 지정한 길이가 되도록 0으로 채움

In [21]:
# CSV 데이터를 읽어들일때;; 문자 -> 숫자 -> 문자로 받을때의 문제점 있음 

# 예를들어, 고객정보 Key는 유일무이한 값/ 즉 문자열에서 바뀌면 안됨 
# '00000002' -> 92 김진환 - '00000092' 데이터 분석가

num = 92
num_str = '92'
zfilled = num_str.zfill(6)          #6자리까지 0으로 채움
print(zfilled,type(zfilled))

000092 <class 'str'>

#### 특정 문자열 포함 행만 추출

* 문자열의 split과 리스트 컴프리핸션을 사용 

1. split을 사용하여 텍스트를 줄바꿈, 1행씩 리스트로 얻을 수 있음
2. 리스트 컴프리핸션을 사용하여 특정 문자열을 포함하는 행 추출
3. 원래 텍스트로부터 특정한 문자열을 포함하는 행만 추출한 텍스트를 만들 수 있다.

In [24]:
text = """저는 김철수 입니다.
        반갑습니다. 저는 데이터 분석가 입니다.
        데이터로 일하는 것은 즐거운 일인데
        더 열심히 배우겟습니다. 감사합니다. """

# 한줄 구분자로 구분해 리스트로 생성
lines = text.split("\n")                                  #\n = enter  #split으로 쪼개서 요소 가져오고 

# 라인에서 데이터가 있는 라인만 가져오기
line_list = [line for line in lines if "데이터" in line]  #한 줄 가져와서/ 데이터 있으면 가져오고/

# 문자열 리스트로 연결하기
# enter로 연결하여 출력
new_text = "\n".join(line_list)                           #join해서 연결시킴 공백은 그대로지만  
print(new_text)

        반갑습니다. 저는 데이터 분석가 입니다.
        데이터로 일하는 것은 즐거운 일인데

In [23]:
#lines
line_list

['        반갑습니다. 저는 데이터 분석가 입니다.', '        데이터로 일하는 것은 즐거운 일인데']

#### 텍스트의 빈행 삭제

In [27]:
text = """저는 김철수 입니다.

        반갑습니다. 저는 데이터 분석가 입니다.

        데이터로 일하는 것은 즐거운 일인데

        더 열심히 배우겟습니다. 감사합니다. """

#비어있는 것도 다 문자로 인식하기 때문에 구분함 
lines = text.split("\n")
lines

['저는 김철수 입니다.',
 '',
 '        반갑습니다. 저는 데이터 분석가 입니다.',
 '',
 '        데이터로 일하는 것은 즐거운 일인데',
 '',
 '        더 열심히 배우겟습니다. 감사합니다. ']

In [ ]:
#중간 사이사이 공백 없애려면? 
#공백제거 : strip

line_list = [line.strip() for line in lines if line.strip() != ""]    ##line.strip() #가져오면서 strip 적용
new_text = '\n'.join(line_list)
print(new_text)

In [30]:
line_list

['저는 김철수 입니다.',
 '        반갑습니다. 저는 데이터 분석가 입니다.',
 '        데이터로 일하는 것은 즐거운 일인데',
 '        더 열심히 배우겟습니다. 감사합니다. ']

#### 무작위로 문자열 생성, 뽑 - random.choices

In [31]:
import random 

letters = 'abcdefg'
rl = random.choices(letters, k = 2)
print(rl)

['a', 'd']

## 정규표현식 사용하기 - 함수

In [ ]:
# 정규표현식 사용하기

import re

# 정규표현식 함수
findall : 일치하는 문자열을 리스트로 반환
split : 일치하는 문자열로 원래 문자열을 분할한 리스트로 반환
sub : 일치하는 문자열을 치환한 문자열을 반환
search : 일치하는 문자열이 있으면 Match 객체를 반환

# 정규표현식
# Chapter1
. 줄바꿈 이외의 임의의 모든 문자                   #
... 줄바꿈 이외의 임의의 3문자 

^ 문자열의 시작                                    #
^... 문자열 시작에서 3문자 
$ 문자열의 끝                                      #
...$ 문자열 끝에서 3문자 

* 직전 정규표현식을 0회이상 반복
ab*c abc또는 ac에 일치
+ 직전 정규표현식을 1회이상 반복                   #
ab+c abc에 일치
? 직전 정규표현식이 0~1회 존재                     #
abcd? abc또는 abcd에 일치
| 둘중 하나
ab|cd ab또는 cd에 일치

# Chapter2
(...) 소괄호 안을 그루핑

[...] 대괄호 안의 문자 중 하나
[^...] 대괄호 안의 문자 중 하나도 없음

x(ab|cd) x로 시작해 ab또는 cd에 일치 (ab|cd 그룹)

\ 직후 정규표현식 기호 무시
\ 에 일치

{n} 직전 정규표현식의 반복 횟수
{n,} 직전 정규표현식의 최소 반복 횟수
{n,m} 직전 정규표현식의 반복 횟수 범위

A{3} A가 3회 반복되면 일치
A{3, }A가 3회 이상 반복되면 일치
A{3, 6}A가 3~6회 이상 반복되면 일치

### 조건맞는거 리스트로 반환 - .findall 
*  : 지정한 조건에 일치하는 문자열을 리스트로 반환

* re.함수(r) -> raw문자열이라고 
* 이스케이프가 필요한 메타 문자를 무시하는 효과가 있음
* 사용할때는 앞에 r을 붙이는것이 좋음!

In [ ]:
import re

text = "In the face of ambiguity, refuse the temptation to guess"
match_list = re.findall(r"t.", text)            #.은 임의의 숫자  #findall :해당하는 모든 것을 찾음 

print(match_list)

['th', 'ty', 'th', 'te', 'ta', 'ti', 'to']

### 정규표현식으로 치환 - .sub()

In [ ]:
#정규표현식으로 치환하기

import re

text = "Beautiful is better than ugly"
replaced = re.sub(r" ", "_", text)     #sub(대체해야할 문자/ 대체할 문자/ 데이터)  #공백문자는 \s로도 쓰입니다.
print(replaced)

Beautiful_is_better_than_ugly

### 텍스트 분할 - .split

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'

# ^ : 문자의 시작 
# + : 직전 정규표현식을 1회이상 반복 
replaced = re.split((r"[^a-zA-Z0-9]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

['Simple', 'is', 'Best']

### 그룹 이용하기

In [ ]:
# 정규표현식의 그룹은 데이터 분석이나 ETL 도구 구현 등에서 자주 사용하는 기능으로
# 원하는 객체를 그루핑할 수 있다라는 장점이 있습니다.

# 제품 -> [0-9]+
# 카탈로그 코드 [0-9A-Z]+
# 제품명 .*
# 구분 문자 공백

# ([0-9]+) +([ 0-9 A-Z]+) +(.*)       #소괄호로 그룹핑 

text = """
101 CF001 커피 
102 CF002 커피(대용량)
201 TE01 홍차
202 TE02 홍차(대용량)
"""
items = re.findall(r'([0-9]+) +([ 0-9 A-Z]+) +(.*)', text)   #[] 넣어서 그룹지정 
print(items)

[('101', 'CF001', '커피 '), ('102', 'CF002', '커피(대용량)'), ('201', 'TE01', '홍차'), ('202', 'TE02', '홍차(대용량)')]

### 일치하는 부분확인

In [ ]:
# 정규표현식과 일치하는 부분 확인

# re 모듈의 serach함수는 정규표현식과 일치하는 첫 번째 위치 정보가 저장된 Match 객체를 반환  #
# Match 객체를 사용하면 일치하는 위치의 문자열과 함께 시작 및 종료 위치 정보 확보 가능

# match객체
# start , end , group, groups 튜플 그룹

import re

text = 'Error should never pass silently'
m_obj = re.search(r"p...", text)                            ## 

print(m_obj.group()) # 일치 문자열 ()로 묶인 것인 없음
print(m_obj.start()) # 시작 인덱스 알려줌 
print(m_obj.end()) # 끝 인덱스

pass
19
23

In [ ]:
import re

text = 'Errors should never pass silently'
# 1번 그룹 - n.... n다음에 4글자가 아무거나
# 2번 그룹 - P... n다음에 3글자가 아무거나

m_obj = re.search(r"(n....) (p...)", text)   #그룹 정보 
print(m_obj.group())                         #그룹이 뭘로 이루어져 있는지 
print(m_obj.groups())

never pass
('never', 'pass')

##__

## Greedy, Lazy 개념

In [ ]:
# Greedy, Lazy 사용하기
# 정규표현식이 패턴에 일치하는 문자열을 추출할때
# 일치하는 최대한의 범위를 추출하는 상태를 greedy(탐욕)이라고 한다.

# 최소한은 Lazy라고 하는데 파이썬은 기본적으로 greedy하지만
# ?를 붙이는 순간 Lazy해진다. 

import re

text = 'In the face of ambiguity, refuse the temptation to guess'   #findall :일치하는 문자열 반환 
match_list = re.findall(r"t.*\s", text)       #t에서 아무문자나 해서 직전까지 0-1번 반복되어 공백까지
print(match_list)                             #파이썬은 greedy 최대로 뽑기 때문에 마지막 공백까지 뽑음

['the face of ambiguity, refuse the temptation to ']

In [ ]:
#?붙이면 t에서 가장 가까운 공백까지만 일치하는거 찾음 -lazy
#공백 전에 ? 붙 
match_list = re.findall(r"t.*?\s", text)                  #
print(match_list)

['the ', 'ty, ', 'the ', 'temptation ', 'to ']

## 정규표현식 실습 
[우리가 자주 사용할 함수]

* findall - 일치하는 문자열을 리스트로 반환
* split - 일치하는 문자열로 원래 문자열을 분할한 리스트로 반환
* sub - 일치하는 문자열을 치환한 문자열을 반환
* search - 일치하는 문자열이 있으면 match 객체를 반환

[대표적인 정규표현식]

* . 줄바꿈 이외의 임의의 문자
* ^ 문자열 시작
* $ 문자열의 끝, 또는 문자열 끝 줄바꿈 직전
* * 직전 정규표현식은 0회 이상 반복
* + 직전 정규표현식을 1회 이상 반복
* ? 직전 정규표현식이 0회 또는 1회 존재

[자주 사용하는 문자 클래스]

꼭 기억해야할 정규표현식!

* \d 숫자와 매치 [0-9]와 같다.
* \D 숫자가 아닌것과 매치 [^0-9]와 같다.

* \s whitespace문자와 매치 [ \t\n\r\f\v]와 같음. 맨앞의 빈칸은 공백을 의미
* \S whitespace문자가 아닌것과 매치 [^ \t\n\r\f\v]와 같음.

* \w 문자+숫자와 매치 [a-zA-Z0-9]와 같습니다.
* \W 문자+숫자가 아닌 문자와 매치 [^a-zA-Z0-9]와 같습니다.

* \ 메타 문자가 아닌 일반 문자 역슬래시와 매치. 매타 문자 앞에 W를 붙이면 일반문자를 위미 (부정의 의미)

In [1]:
# 주소록입니다. 이후 강의에서 모두 이 search_target을 사용합니다.
# https://regexr.com/5nvc2 공부하면서 참고하기 - 바로 보여줌 

search_target = '''
hello world
hello  world
hello, world
Hello World

hello world hello

hello
hallo
hollo
heallo
yellow

Monday Tuesday Wednesday Thursday Friday Saturday Sunday

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567891011121314151617181920
aaabbcaaabbcabcabc
aaa bb c aaa bb c a b c a b c
aaa1bb2c3aaa4bb5c6

[123456]
123[456]789
abc[def]ghij

010-9091-5491
010-5043-2901
010-5050-40409
010-49492-3131
010 2913 3132
01019133829
064-721-3213
010.1913.3829


paul-korea@naver.com
paul@naver.com
leehojun@gmail.com
hojun.lee@gmail.com
test.test@go.go.go


https://github.com/LiveCoronaDetector/livecod
github.com/LiveCoronaDetector/livecod
https://github.com/LiveCoronaDetector

I never dreamed about success, I worked for it.
Do not be afraid to give up the good to go for the great.

hello (hello world) hello
hello \hello world// hello
^^
:)

[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]
{name : leehojun, age : 10, height : 180, email : paul-lab@naver.com}

가나다라마바사아자차카타파하
ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎ
안녕하세요
안녕-하세요
수사
수박
수상
동해 물과 백두산이 마르고 닳도록 하느님이 보호하사 우리나라 만세
'''

In [ ]:
print(search_target)

In [ ]:
# 숫자 대표 정규표현식
regex = r'\d'              #정규표현식 앞에는 r 붙이는게 좋음 
#글자, 숫자 
#regex = r'\w'

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)                            #
print("\n".join(result))

In [ ]:
# Hello 단어를 검색봅시다.
regex = r'hello'

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# 맨처음에 와야하는 것 : ^
m1 = re.findall("^Life", "Life is too short")
print("m1 결과 : ", m1)

m1 결과 :  ['Life']

In [ ]:
# 맨처음에 와야하는 것 ^
m2 = re.findall("^is", "Life is too short")
print("m2 결과 : ", m2)

m2 결과 :  []

In [ ]:
#맨 마지막에 와야하는 것 : $
m1 = re.findall("short$", "Life is too short")
m2 = re.findall("short$", "Life is too short. So what?")
 
print("m1 결과 : ", m1)
print("m2 결과 : ", m2)

In [ ]:
# 특정문자 1개 : .
regex = re.compile('ema.l')  #email/ emall

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

email
email

In [ ]:
# 특정문자 6개(공백포함) : ......
regex = re.compile(r'......')  

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 여러가지 중 택1해서 찾기
regex = re.compile(r'h[aeyo]llo', re.I)         #h[aeyo]l.. 도 됨    

#대문자도 갖고오고 싶으면 re.I
#a-f 중 1개 : [a-f]
#[a-zA-Z0-9가-힣ㄱ-ㅎ]
#[^a-zA-Z0-9가-힣ㄱ-ㅎ]  :괄호 안 ^는 부정의미 

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

hello
hello
hello
Hello
hello
hello
hello
hallo
hollo
hello
hello
hello
hello
hello
hello

In [4]:
# 서브패턴

# 소괄호를 사용하면 정규식 일부 패턴을 그룹화 할 수 있습니다.
# 이 정규식 그룹은 그룹 캡처기능이라고 불리는데
# 정규식 그룹은 번호가 매겨진 캡처그룹을 생성하고, 괄호안에 정규식 부분과
# 일치하는 문자열을 찾거나 저장합니다.
# 그 캡처 번호를 사용하여 문자열 부분을 불러와 사용할 수 있습니다.

# 주의할점은 캡처에 정규식 패턴이 저장된다고 착각할 수 있지만
# 캡처는 패턴으로 찾은 문자열을 저장한다.
 
# ?:는 그룹이지만 캡처를 저장하지 않음 

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('(on|ues|rida)')                        #그룹 1로/ 3개 중 1개 

# 그룹 안에 매칭이 된 것만 출력이 되는 형태

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))          #enter로 문자열 연결

on
ues
rida
on
on
on

In [ ]:
regex = re.compile('(Mon|Tues|Fri)day')         #그룹day를 찾지만 출력은 그룹 안만 출력됨 
                                                #즉 Monday가 아니라 Mon만 출력됨                                         

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

Mon
Tues
Fri

In [5]:
regex = re.compile('(?:Mon|Tues|Fri)day')         ##?: 은 그룹깨기!      #그룹말고 해당 문자만 찾게됨                                      

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

Monday
Tuesday
Friday

In [ ]:
import re

text = "tomato potato"

p1 = "(tom|pot)ato"    # 그룹으로 묶인 - 그 단어 (tom|pot) 출력
p2 = "(?:tom|pot)ato"  # 그룹으로 묶이지 않은것은 캡처하지 않겠다고 매칭 - tomato와 potato가 출력

m1 = re.findall(p1, text)
m2 = re.findall(p2, text)

print("m1 결과 : ", m1)   #얘도 tomato를 찾지만 출력만 tom으로 하는 것  
print("m2 결과 : ", m2)

m1 결과 :  ['tom', 'pot']
m2 결과 :  ['tomato', 'potato']

In [ ]:
# 수량자 - 가장 많이 하는 휴대폰번호 입력하기 

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}') 
#0부터 9까지 / 3자리 

# 1. [0에서 9까지]{3개}[- 나 . 앞에 있는 문자 0~N개]
# 2. [0에서 9까지]{4개}[- 나 . 앞에 있는 문자 0~N개]
# 3. [0에서 9까지]{4개}[- 나 .]

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

010-9091-5491
010-5043-2901
010-5050-4040
010 2913 3132
010.1913.3829

In [ ]:
# 수량자 - 가장 많이 하는 휴대폰번호 입력하기 
#{} 중괄호 안 : 개수지정 

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4,5}')     ##4자리나 5자리 
#0부터 9까지 3자리 

# 1. [0에서 9까지]{3개}[- 나 . 앞에 있는 문자 0~N개]
# 2. [0에서 9까지]{4개}[- 나 . 앞에 있는 문자 0~N개]
# 3. [0에서 9까지]{4개}[- 나 .]

import re
result = re.findall(regex, search_target)
print("\n".join(result))

010-9091-5491
010-5043-2901
010-5050-40409
010 2913 3132
010.1913.3829

In [ ]:
#이메일 주소 출력하기 

regex = re.compile('[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+') 

# 1. [0에서 9까지 + 영문자]{+@}
# 2. [0에서 9까지 + 영문자].
# 3. [영문자_ 1개 이상]

import re
result = re.findall(regex, search_target)
print("\n".join(result))

korea@naver.com
paul@naver.com
leehojun@gmail.com
lee@gmail.com
test@go.go
lab@naver.com
lab@naver.com

In [ ]:
# 캐릭터 클래스

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('\W')          #글자가 아닌것 
regex = re.compile('\D')          #숫자가 아닌것 

# 1. [0에서 9까지 + 영문자]{+@}
# 2. [0에서 9까지 + 영문자].
# 3. [영문자_ 1개 이상]

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

[문자열 규칙에 r을 붙이는 이유]

정규표현식에서 문자열을 사용할 때는 앞에 r을 붙이는 것을 추천

[이스케이프 문자]
만약 문자열이 \문자가 있다면 파이썬은 그 다음 문자를 그대로 인식하지 않고, 컴퓨터에 명령하기 위한 명령어로 인식 그렇기 때문에 \와 함께 사용하는 문자를 이스케이프문자라고 합니다.

이스케이프 문자를 사용하고 싶지 않다면 \앞에 \를 하나 더 붙여서 \를 일반문자로 인식시키면되고

만약에 그렇게 하기 어렵다면 r을 붙이는 방법이 있다. r을 붙이면 그 뒤에 나오는 문자열에 들어 있는 문자를 모두 일반 문자로 인식합니다.

In [ ]:
# 이스케이프 문자 -백슬래시 

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('\[.*]') #대괄호([]) 안에 감싸여진 문자열 0~N개   #그룹이 아니라 대괄호로 사용된 것
                                                                     #즉 이스케이프 문자로 빠져나감 (문자 그대로를 의미)
# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

[123456]
[456]
[def]
[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]

In [ ]:
#이스케이프 문자를 사용할 필요가 없는 경우
regex = re.compile('-.*-') 

import re
result = re.findall(regex, search_target)
print("\n".join(result))

-9091-
-5043-
-5050-
-49492-
-721-

In [ ]:
#이스케이프 문자가 필요한 경우
regex = re.compile('\^\^') 

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

^^

In [ ]:
regex = re.compile(':\)')

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

:)

In [ ]:
#실습 
example = '앞서 논문은 이러한 연구를 진행하였습니다(홍길동, 2019). 하지만 그런 것들을 개량하여 다음 논문이 나오게 되었고(임꺽정, 2020), 마지막으로 두가지를 모두 결합한 새로운 연구가 개발되었습니다.(심청이, 2021)'
#print(example)

In [ ]:
# 여기서 인용구만 빼고 싶으면 다음과 같이 사용하면 됩니다.

result = re.findall(r'\([A-Za-z가-힣]+, \d+\)',example)  #원래 괄호 안 > 그룹핑 #따라서 이스케이프로 그냥 문자 불러옴 
                                                         #+ :1개 이상   #,공백  다음 숫자 
result

['(홍길동, 2019)', '(임꺽정, 2020)', '(심청이, 2021)']

In [ ]:
# 정규표현식에서 .는 모든 문자를 의미하죠? 
# 그래서 필요한 문자 외에 다른 문자들도 집어삼켜버립니다.

# 만약에 이런글을 썼다고 해보죠
import re
example = '저희 첫째아들은 2020년에 태어났구요. 저희 둘째 아들은 23년에 태어났는데 셋째는 26년에 가질 예정이에요'

re.findall(r'\d.+년', example)

['2020년에 태어났구요. 저희 둘째 아들은 23년에 태어났는데 셋째는 26년']

In [ ]:
#똑같은거 상쇄하고 싶으면 
#? 

import re
example = '저희 첫째아들은 2020년에 태어났구요. 저희 둘째 아들은 23년에 태어났는데 셋째는 26년에 가질 예정이에요'

re.findall(r'\d.+?년', example)

['2020년', '23년', '26년']

In [ ]:
data = 'a:3;b:4;c:5'
for i in re.split(r';', data):
  print(re.split(r':', i))

['a', '3']
['b', '4']
['c', '5']